<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Notification permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencyPreparednessManager">

        <activity android:name=".UI.activities.KitListActivity" />
        <activity android:name=".UI.activities.KitEditActivity" />
        <activity android:name=".UI.activities.KitItemsActivity" />
        <activity android:name=".UI.activities.KitItemEditActivity" />
        <activity android:name=".UI.activities.SettingsActivity" />
        <activity android:name=".UI.activities.SearchSuppliesActivity" />

        <activity
            android:name=".UI.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".UI.receivers.AlertReceiver"
            android:exported="false" />

    </application>

</manifest>